
a li{
   
    color:black;
    padding: 5px;
    display:flexbox; 
    font-size: 20px;
    position:relative;
    
}
a{
    text-decoration: none;
}
a li:before{
     content:'';
     position:absolute;
     top:0%;
     left:0%;
     width:0%;
     height:100%;
     border-bottom: 2px solid rgb(163, 110, 213);
     transition: 0.4s linear;
          
}
a li:hover:before{
     width:50%;
}

